.about {
  position: relative;
  text-align: center;
}

.about img {
  width: 100%;
  max-height: 400px;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.about-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: black;
  font-family: "painted_brushregular";
  font-weight: lighter;
  flex-direction: column;
}

.about-content {
  margin: 20px;
  padding: 20px;
}
.mission {
  padding: 30px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.mission .mission-content {
  width: 25%;
}


.mission img {
  margin-right: 20px;
  height: 100px;
  width: 100px;
  margin-left: 30px;
}

.mission-text {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}

.philo {
  padding: 30px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.philo-text {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}

.philo .philo-content {
  width: 25%;
}

.philo img {
  margin-right: 20px;
  height: 100px;
  width: 100px;
  margin-left: 30px;
  margin-top: 20px;
}
.about-banner {
  position: relative;
  text-align: center;
  font-weight: lighter;
  margin: 10% 10%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 60px;
  background-color: #89CFF1;

}
.about-banner h1{
  font-family: "painted_brushregular";
  font-weight: lighter;
  font-size: 90px;
  
}

.about-banner p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-weight: bold;
}

#aboutctaButton {
  background-image: linear-gradient(
    180deg,
    rgb(54, 143, 199),
    rgb(12, 73, 104)
  );
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 50px;
  border-radius: 5px;
  transition: 0.2s;
  margin: 30px auto 0 auto;
}

#aboutctaButton:hover {
  background-image: linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  cursor: pointer;
  color: #0d4664;

}





/*for a mobile device */
@media (max-width: 720px) {
  .about-text {
    font-size: 20px;
  }
  
  .mission img {
    height: 60px;
    width: 60px;
  }

  .mission {
    flex-direction: column;
  }

  .mission .mission-content {
    width: 90%;
  }

  .philo img {
    height: 60px;
    width: 60px;
  }

  .philo {
    flex-direction: column;
  }

  .philo .philo-content {
    width: 90%;
  }

}

