
.careers-banner{
   width: 100%; 
   height: 600px;
   background-image: url(/pictures/careerbg.png);
   background-repeat:no-repeat;
   background-size:cover;
   filter:brightness(0.9)
}

.careers-banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    color: white;
    text-shadow: 2px 2px 4px rgb(199, 54, 112), 2px 2px 4px rgb(135, 14, 135);
    font-family: 'painted_brushregular';
    position: relative;
    padding:20px;
    text-align:center;
}

.careers-border{
    background-color: rgb(247, 247, 82);
    border-radius: 35px; 
    margin: 23px;
    width: 96.7%;
    height: 160px;
}

.one{
    font-size: 19px;
    color:rgb(7, 73, 172);
    padding: 40px;
    text-align:center;   
}

.careers-benefits{
    background-color: rgb(34, 135, 185);
    border-radius: 35px;
    padding: 40px; 
    margin: 23px;
    width:96.7%;    
}

.two{
    font-size: 23px;
    margin: 3px;
    font-weight: bold;
}

.benefits-list{
    justify-content: center;
    margin-left: 20px;
    padding: 10px;
}

.careers-benefits img{
    width:90%;
    height: 290px;
    margin: 5px;
}

.careers-banner ul{
    align-items: center;
}

 ul li{
    display: block;
    font-size: 20px;
    text-align: justify;
}


.three{
    margin: 30px;
}

.four{
    background-color: rgb(40, 189, 40);
    margin-bottom: 23px;
    border-radius: 35px;
    padding: 20px;  
}

.four-header{
    font-size: 21px;
    font-weight: bolder;
}

.four span{
    color: white;
}

.four-content{
    font-size: 15px;
}

.career-benefits, .four{
    display: inline-block;
}

/*for a mobile device */
@media (max-width: 720px) {
    .careers-banner {
      width: 100%;
      height: 50vh;
    }
    .careers-banner-text{
        font-size: 40px;
    }
    .careers-border{
        width: 320px; 
        height:35vh;
        margin: 35px;
        padding: 5px;  
    }

    .one{
        font-size: 18px;
        padding-top: 9px;
    }
    .careers-benefits{
        width:320px;
        height:72.5vh;
        margin: 35px; 
    }
    .careers-benefits img{
        height: 305px;
    }
    ul li{
        font-size: 15px;
    }

    .four{
        margin-top: 3px;
    }
    
    
  }