header {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  transition: all 0s ease;
  background: linear-gradient(90deg, rgb(199, 54, 112), rgb(135, 14, 135));
}

.logo-header {
  display: flex;
  align-items: center;
}

.logo-image img {
  height: 80px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.logo-text {
  font-size: 40px;
  font-weight: bold;
  color: aliceblue;
  font-weight: bold;
}

/* .hamburger { */
/* display: none; */
/* } */

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: aliceblue;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: rgb(174, 35, 90);
  background: aliceblue;
}

.hamburger {
    display: none;
    width: 50px;
    height: 30px;
    flex-direction:column;
    background: none;
    outline: 0;
    border: 0;
    justify-content: space-between;
    /* background-color: palegoldenrod; */
}

.hamburger .line {
    display: block;
    height: 3px;
    width: 30px;
    background-color: white;
}

.nav-bar-mobile {
    display: none;
}



/* Example of a media query for a mobile device */
@media (max-width: 720px) {
    header {
        padding: 0;
        width: 100%;
        height: 50px;
    }

    .logo-header {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
    }
    .hamburger {
        display: flex;
    }

    .logo-text {
        font-size: 20px;
    }

    .logo-image img {
        height: 40px;
    }

    .nav-bar ul {
        display: none;
    }

    .nav-bar-mobile {
        display: flex;
        background-color: white;
        position: fixed;
        top: 50px;
        height: fit-content;
        z-index: 1;
        left: 0;
        width: 100%;
        background: linear-gradient(90deg, rgb(199, 54, 112), rgb(135, 14, 135));
        /* box-shadow: 2px 10px 4px #2e2e2e9c; */

    }

    .nav-bar-mobile ul {
        width: 80%;
        margin: auto;
        list-style: none;
        text-align: left;
        text-decoration: none;
    }

    .nav-bar-mobile ul li {
        padding: 10px 0;
        color: #fafafa;
        /* background-color: white; */
    }

    .nav-bar-mobile ul li a {
        color: white;
    }

}
  
@media (max-width: 768px) and (max-height: 1024px)
 {
  header {
      padding: 0;
      width: 100%;
      height: 50px;
  }

  .logo-header {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100vw;
  }
  .hamburger {
      display: flex;
  }

  .logo-text {
      font-size: 20px;
  }

  .logo-image img {
      height: 40px;
  }

  .nav-bar ul {
      display: none;
  }

  .nav-bar-mobile {
      display: flex;
      background-color: white;
      position: fixed;
      top: 50px;
      height: fit-content;
      z-index: 1;
      left: 0;
      width: 100%;
      background: linear-gradient(90deg, rgb(199, 54, 112), rgb(135, 14, 135));
      /* box-shadow: 2px 10px 4px #2e2e2e9c; */

  }

  .nav-bar-mobile ul {
      width: 80%;
      margin: auto;
      list-style: none;
      text-align: left;
      text-decoration: none;
  }

  .nav-bar-mobile ul li {
      padding: 10px 0;
      color: #fafafa;
      /* background-color: white; */
  }

  .nav-bar-mobile ul li a {
      color: white;
  }

}

@media (max-width:740px) and (max-height: 1298px)
 {
  header {
      padding: 0;
      width: 100%;
      height: 50px;
  }

  .logo-header {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100vw;
  }
  .hamburger {
      display: flex;
  }

  .logo-text {
      font-size: 20px;
  }

  .logo-image img {
      height: 40px;
  }

  .nav-bar ul {
      display: none;
  }

  .nav-bar-mobile {
      display: flex;
      background-color: white;
      position: fixed;
      top: 50px;
      height: fit-content;
      z-index: 1;
      left: 0;
      width: 100%;
      background: linear-gradient(90deg, rgb(199, 54, 112), rgb(135, 14, 135));
      /* box-shadow: 2px 10px 4px #2e2e2e9c; */

  }

  .nav-bar-mobile ul {
      width: 80%;
      margin: auto;
      list-style: none;
      text-align: left;
      text-decoration: none;
  }

  .nav-bar-mobile ul li {
      padding: 10px 0;
      color: #fafafa;
      /* background-color: white; */
  }

  .nav-bar-mobile ul li a {
      color: white;
  }

}

