.ourteam {
    position: relative;
    text-align: center;
  }

 
  .ourteam img {
    width: 100%;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    
  }
  
  .content-text {
    position: absolute;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: black;
    font-family: "painted_brushregular";
    font-weight: lighter;
  }